DATABASE_URL=

GITHUB_CLIENT_ID = 


GITHUB_CLIENT_SECRET = 

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=

CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/welcome
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/welcome


GEMINI_API_KEY=

CLOUDINARY_CLOUD_NAME=

CLOUDINARY_API_KEY=

CLOUDINARY_API_SECRET=

CLOUDINARY_URL=